@import "./normalize.css";

:root {
  --header-bg-color: var(--one-colour);
  --secon-bg-color: var(--one-colour); 
  --one-colour: #A1BEEB;
  --main-text-color: black;   
  --main-h1-color: black;
  --ahover-color: #b56969;
  --main-h2-color: black;
}

main {
  background: var(--secon-bg-color);
}

.content {
  font-family: "Goudy Old Style";
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.mainmenu {
  text-align: center;
  text-transform: uppercase;
  font-family: "Shree Devanagari 714";
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 50px 0 0 15%;
  letter-spacing: 1px;
}

.mainmenu ul, .mainmenu li, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  border-bottom: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainmenu li{
  margin-bottom: 35px;
}

.navbar ul, .navbar li{
  display: inline;
  padding: 0px 15px 0px 0px;
  font-family: "Eurostile";
  text-transform: uppercase;
  font-size: 1rem;
}

span {
  color: var(--span-color);
}
/* 
footer {
  margin-left: var(--header-width);
  position: fixed;
  bottom: 0;
} */

/* ul {
  padding-inline-start: 20px;
} */

.navitem {
  text-transform: uppercase;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.navitem li, ul.navitem, ul.icons {
    padding: 0;
    line-height: 2;
}

.navitem li, ul.navitem{
  font-size: 1.3rem;
}

.navitem a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    border-bottom: none;
}

.navbar .menuactive {
  text-decoration: underline;
}

/* Menu marker on active menu-choice */
.navitem .menuactive:before {
  content:"";
  display:block;
  width:0;
  border:5px solid #22264b;
  border-color: transparent  transparent transparent #22264b;
  position:absolute;
  top:30%;
  left:0%;
  margin-left:-10px;
}

.icons {
  border-bottom: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.icons a, u, .icons li, .navitem > li {
  display: inline-block;
  padding: 0px;
  border-bottom: none;
}

.inner {
  text-align: right;
}

a {
  color: var(--header-nav-color);
}

a:hover{
  color: var(--ahover-color);
}

.container>p>a {
  text-decoration: underline;
}

.container>p>a:hover{
  text-decoration: none;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 1px;
}

h1 {
  margin: 0 auto;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: var(--main-h1-color);
  font-family: "Didot", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
}

h2 {
  color: var(--main-h2-color);
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  /* padding-left: 30px; */
}

h3 {
  color: var(--main-h2-color);
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
}

p {
  padding: 0px 0 10px 0;
  overflow: hidden;
}

p img {
  width: 50%;
  max-width: 600px;
  padding: 20px 0 0px;
}

p img#odd {
  float: right;
}

/*  Dunno about these tbh */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text-color);
  background: var(--secon-bg-color);
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}


/* @import "./mobile.css"; */