@import url('https://fonts.googleapis.com/css?family=Cousine|Lato:300|Vidaloka|Libre+Baskerville:400,400i,700&display=swap');
/*Tried: Abhaya+Libre|Cantata+One|Merriweather:300|Nanum+Gothic+Coding|Cormorant:300+700|PT+Mono|Prata|GFS+Didot| */
:root {
  --header-bg-color: var(--one-colour);
  --secon-bg-color: var(--one-colour); 
  --one-colour: #A1BEEB;
  --main-text-color: black;   
  --main-h1-color: black;
  --ahover-color: #b56969;
  --main-h2-color: black;
  --main-h3-color: rgb(33, 41, 54);

  --content-font: "Libre Baskerville" /* org "Goudy Old Style" */;
  --mainmenu-font: "Lato" /* org "Shree Devanagari 714" */;
  --navbar-font: "Lato"/* org "Eurostile" */;
  --h1-font: 'Libre Baskerville';

  /* --content-font: "Libre Baskerville";
  --mainmenu-font: "Lato";
  --navbar-font: "Cousine";
  --h1-font: 'Vidaloka'; */
}

main {
  background: var(--secon-bg-color);
}

.content {
  font-family: var(--content-font);
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
  /* font-weight: 300; */
}

.content ul{
  padding-inline-start: 20px;
}

#row {
  display: flex;
}

.column {
  padding-left: 25px;
  padding-right: 25px;
  flex: 50%;
}

.mainmenu {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--mainmenu-font);
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 50px 0 0 15%;
  letter-spacing: 1px;
}

.socials {
  width: 20%;
  margin: 0 auto;
}

.projects h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--mainmenu-font);
  font-size: 1.4rem;
}

.mainmenu ul, .mainmenu li, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  border-bottom: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainmenu li{
  margin-bottom: 35px;
}

p a, .navbar ul, .navbar li{
  display: inline;
  padding: 0px 15px 0px 0px;
  font-family: var(--navbar-font);
  text-transform: uppercase;
  font-size: 1rem;
}

span.ingress {
  font-style: italic;
}

.navbar .menuactive {
  text-decoration: underline;
}

.icons {
  border-bottom: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2rem;
}

.icons a, u, .icons li, .navitem > li {
  display: inline-block;
  padding: 0px;
  border-bottom: none;
}

a {
  color: var(--header-nav-color);
}

a:hover{
  color: var(--ahover-color);
}

.content a:hover{
  color: var(--header-nav-color);
  background-color: var(--ahover-color);
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 250px;
  height: auto;
  border-radius: 2px;
  filter: grayscale(60%);
}

h1 {
  margin: 0 auto;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: var(--main-h1-color);
  font-family: var(--h1-font);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 2.8rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1;
}

h2 {
  color: var(--main-h2-color);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 300;
}

h3 {
  color: var(--main-h3-color);
  font-family: var(--mainmenu-font);
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  
}

p {
  padding: 0px 0 10px 0;
  overflow: hidden;
}

p img {
  width: 50%;
  max-width: 600px;
  padding: 20px 0 0px;
}

p img#odd {
  float: right;
}

/*  Dunno about these tbh */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text-color);
  background: var(--secon-bg-color);
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

