
  :root {
    /* --one-colour: rgb(147, 161, 141); */
    /* --one-colour: rgb(220, 227, 206); */
    
    /* --main-bg-color: rgb(147, 161, 141); */
    --header-bg-color: var(--one-colour);
    --secon-bg-color: var(--one-colour);
    /* --secon-bg-color: rgb(234, 234, 232); */
    
    /* --main-text-color: rgb(52, 52, 52); */
    /* --main-text-color: rgb(139, 152, 163); */
    /* --main-h1-color: rgb(232, 21, 22); */
    /* --ahover-color: rgb(90, 91, 92); */

    /* Quay Restaurant By Pollen */
    --one-colour: #e8edf3;
    --main-text-color: #22264b;   
    --main-h1-color: #e6af4b;
    --ahover-color: #b56969;
    --main-h2-color: #b56969;
    --ahover2-color: #e6af4b;
    /* --main-h1-color: #e6cf8b; */

    /* IF I WANT ACCESSIBLE COLOURS! 
    /* --main-h2-color: #7A3C3C;
    --main-h1-color: #B47D19; */
    
    /* Pablo the flamingo  
    https://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html
    */
    /* --one-colour: #e6af4b;
    --main-text-color: #334431;
    --main-h1-color: #e05038;
    --main-h2-color: #e05038;
    --ahover-color: #f2cbbc;
    --header-nav-color: #334431; */
    
    
    /* Crimson sky
    --one-colour: #C46766;
    --main-text-color: #031424;
    --main-h1-color: #031424;
    --ahover-color: #30415d;
    --header-nav-color: #031424;*/
    /* --ahover-color: #8EAEBD; */

    /* https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
    nummer två! */
    /* --header-bg-color: #FECEAB;
    --one-colour: #2a363b;
    --main-text-color:  #99B898;
    --main-h1-color: #99B898;
    --ahover-color: #E84A5F;
    --header-nav-color: #2a363b;
    --span-color: #FF847C; 
    --main-h2-color: #e05038; */
    /* 
    snyggt med h2 igen!
    #E84A5F
    #FF847C
    */

    /* nummer 4!
    --header-bg-color: #a8a7a7;
    --one-colour:  #363636;
    --main-text-color:  #a8a7a7;
    --main-h1-color: #CC527A;
    --ahover-color: #E8175D;
    --header-nav-color: #474747;
    --span-color: #CC527A;
    --main-h2-color: #e05038;  */
    /* ^jävligt snyggt med h1 / h2 */

    /* Nummer 7!
    --header-bg-color: #547980;
    --one-colour:   #594F4F;
    --main-text-color:  #E5FCC2;
    --main-h1-color: #E5FCC2;
    --ahover-color: #45ADA8;
    --header-nav-color: #594F4F;
    --span-color: #45ADA8; */


    /* Accent: #9DE0AD */
}